  <div class="container">
    <div class="row p-3 bg-light">
      <app-ghe-item class="col-3"
        *ngFor="let seat of seatList"
        [seatItem]="seat"
        (eventBooking)="handleBookingParent($event)"
      ></app-ghe-item>
    </div>
  </div>
