<h1 class="text-warning text-center py-2">ĐẶT VÉ XE BUS</h1>
<div class="container row text-center mx-auto">
  <div class="col-6">
    <h4 class="bg-secondary py-2 rounded-pill">Tài Xế</h4>
    <app-danh-sach-ghe
      (eventChangeBookedList)="changeBookedListParent($event)"
    ></app-danh-sach-ghe>
  </div>
  <div class="bookinginfo col-6">
    <h3 class="text-warning">Danh sách ghế đã đặt</h3>
    <div *ngFor="let seat of listChange">
      <p>Ghế: {{ seat.TenGhe }} {{ seat.Gia }}$ </p>
    </div>
  </div>
</div>
